*{
  margin: 0;
}

.app{
  background-color: #FAFAFA;
}
.app__header{
  background-color: white;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 222;
}
.navbar__left img{
  width: 200px;
}
img.app__avater,
img.avater{
  width: 50px;
  margin: 10px;
}
.user__profile-avtaer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar__right{
  position: relative;
}
.div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout__toggle.visible{
  visibility: hidden;
}
.logout__toggle {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  width: 100%;
  position: absolute;
}
.MuiInputBase-root{
  display: block !important;
  margin-bottom: 20px;
}